dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install tox-travis
  - pip install coveralls
  - pip install -r requirements_test.txt
script:
  tox
after_success:
  coveralls
